body {
    background-color: rgb(168, 168, 168);
}

fieldset {
    background-color: lightgray;
}

select {
    display: block;
}

.glowne {
    font-size: 30px;
    background: white;
    border: 1px solid ;
}
